<!DOCTYPE html>
<html lang="en">
    <%- include('templates/head') %>
<body>
    <%- include('templates/headerDefault') %>

    <div class="container">
        <h2>Quick Video</h2>
        <p>A quick video hosting project for Onyx + Bee, to make sharing things a little bit easier</p>
        <br>
        <p>Are you Onyx or Bee? Login here:</p>
        <form action="/login" method="POST" >
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
    
    <%- include('./templates/footer') %>

</body>
</html>